
html { 
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0px;
	margin: 50px 0 0 0;
	background-color: #464646;
	color: white;
}

.floor { 
	margin-bottom: 20px;
}

.board {
	background-image: url(/static/chalkboard-background1.jpg);
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	min-width: 400px;
	width: 50%;
	padding: 0px 50px 50px 50px;
	border: solid #D6B05C 10px;
	border-radius: 20px;
	min-height: 300px;
	font-family: "chalk6";
	font-size: 30px;
}

.board h1 {
	font-family: "chalk1";
	font-size: 60px;
	font-weight: normal;
	/*color: #77dd77;*/
	color: #779ECB;
	/*color: ##AEC6CF;*/
	
}

a {
	text-decoration: none;
}

.tap {
	font-size: 30px;
}

@font-face {
	font-family: "chalk1";
	src: local("chalk1"), url( /static/fonts/KGSecondChancesSketch.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk2";
	src: local("chalk2"), url( /static/fonts/KGSecondChancesSolid.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk3";
	src: local("chalk3"), url( /static/fonts/KGTangledUpInYou2.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk4";
	font-size: 50px;
	src: local("chalk4"), url( /static/fonts/KGTangledUpInYou.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk5";
	src: local("chalk5"), url( /static/fonts/TENOCLOCK-Regular.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk6";
	src: local("chalk6"), url( /static/fonts/VTKS%20ANIMAL%202.ttf ) format("truetype"); /* non-IE */
}

.brewery {
	font-size: 12px;
	padding-left: 8px;
	margin-bottom: 15px;
}

.chalk1 { font-family: 'chalk1'; }
.chalk2 { font-family: 'chalk2'; font-weight: normal;}
.chalk3 { font-family: 'chalk3'; }
.chalk4 { font-family: 'chalk4'; font-size: 40px; margin-top: 28px; }
.chalk5 { font-family: 'chalk5'; }
.chalk6 { font-family: 'chalk6'; }

.pastel1 { color: #F49AC2; }
.pastel2 { color: #77dd77; }
.pastel3 { color: #FDFD96; }
