
html { 
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #464646;
	color: white;
}

a {
	text-decoration: none;
}

.logo {
	float: top;
	text-align: right;
	z-index: 20;
}

img.logo {
	width: 60px;
}

.floor { 
	margin-bottom: 20px;
}

.upstairs {
	background-image: url(/static/chalkboard-background1.jpg);
}

.downstairs {
	background-image: url(/static/chalkboard-background2.jpg);
}

.board {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	min-width: 400px;
	max-width: 600px;
	width: 50%;
	padding: 0px 50px 0px 50px;
	border: solid #D6B05C 10px;
	border-radius: 20px;
	min-height: 300px;
	font-family: "chalk6";
	font-size: 30px;
}

.board h1 {
	font-family: "chalk1";
	font-size: 60px;
	font-weight: normal;
	/*color: #77dd77;*/
	color: #779ECB;
	/*color: ##AEC6CF;*/
	
}

a {
	text-decoration: none;
}

table {
	width: 100%;
}

.taprow {
	cursor: pointer;
	height: 82px;
}

td {
	height: 60px;
}

.tap {
	font-size: 30px;
}

.beerstyle {
	font-size: 16px;
	font-family: "chalk1";
	color: #aaaaaa;
}

@font-face {
	font-family: "chalk1";
	src: local("chalk1"), url( /static/fonts/KGSecondChancesSketch.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk2";
	src: local("chalk2"), url( /static/fonts/KGSecondChancesSolid.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk3";
	src: local("chalk3"), url( /static/fonts/Chalkboard_by_Marta_van_Eck.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk4";
	font-size: 50px;
	src: local("chalk4"), url( /static/fonts/KGTangledUpInYou.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk5";
	src: local("chalk5"), url( /static/fonts/TENOCLOCK-Regular.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk6";
	src: local("chalk6"), url( /static/fonts/VTKS%20ANIMAL%202.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk7";
	src: local("chalk7"), url( /static/fonts/vtks%20noise.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk8";
	src: local("chalk8"), url( /static/fonts/vtks%20chalk%2079.ttf ) format("truetype"); /* non-IE */
}

@font-face {
	font-family: "chalk9";
	src: local("chalk9"), url( /static/fonts/KGTangledUpInYou2.ttf ) format("truetype"); /* non-IE */
}

.brewery {
	color: #cccccc;
	font-size: 12px;
	padding-left: 8px;
	margin-bottom: 15px;
}

.tapwrap {
}

.meta {
	font-size: 16px;
	margin-left: 30px;
	color: #999999;
	line-height: 25px;
	float: right;
	text-align: right;
}

.chalk1 { font-family: 'chalk1'; }
.chalk2 { font-family: 'chalk2'; font-weight: normal;}
.chalk3 { font-family: 'chalk3'; font-size: 40px; margin-top: 40px;}
.chalk4 { font-family: 'chalk4'; font-size: 40px; padding-top: 18px;}
.chalk5 { font-family: 'chalk5'; font-size: 38px; margin-bottom: -6px;}
.chalk6 { font-family: 'chalk6'; }
.chalk7 { font-family: 'chalk7'; font-size: 50px; margin-bottom: -10px; margin-top: 0px;}
.chalk8 { font-family: 'chalk8'; font-size: 40px; margin-bottom: -5px;}

.pastel1 { color: #F49AC2; }
.pastel2 { color: #77dd77; }
.pastel3 { color: #FDFD96; }
.pastel4 { color: #B39EB5; }

.editform {
	display: none;
	font-family: 'chalk6';
	font-size: 14px;
}

input {
	font-family: 'chalk6';
	font-size: 14px;
	padding: 8px;
	border: none;
	border-radius: 5px;
}

button, input[type=submit] {
	border: none;
	font-family: 'chalk6';
	font-size: 14px;
	background-color: #678EbB;
	padding: 8px;
	border-radius: 5px;
}
