<!DOCTYPE html>
<html>
<head>
	<title>FlightStats tap list! </title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/fstaps.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/fstaps.js"></script>
</head>
<body>

<div class='logo'>
	<a href='http://flightstats.com'><img class='logo' src='/static/fs-logo-rot.png' alt='flightstats'/></a>
</div>

{% for barname,taps in bars.iteritems() %}
<div class='boardouter'>
	<div class='board {{barname}}'>
		<h1 id='floor_{{barname}}' class='floor'>{{barname|title}}:</h1>
		{% for tap in taps %}
		<div class='editform' id='edit_{{barname}}_{{loop.index}}'>
			<form id='form.{{barname}}.{{loop.index}}' method='POST' action='/edit'>
			<input type='hidden' name='barname' value='{{barname}}'/>
			<input type='hidden' name='index' value='{{loop.index}}'/>
			<h1>{{barname|title}} tap {{loop.index}}</h1>
			<table>
			<tr><td>Name:</td><td><input type='text' name='name' value='{{tap.name}}'/></td></tr>
			<tr><td>Style:</td><td><input type='text' name='style' value='{{tap.style}}'/></td></tr>
			<tr><td>Brewery:</td><td><input type='text' name='brewery' value='{{tap.brewery}}'/></td></tr>
			<tr><td>ABV:</td><td><input type='text' name='abv' value='{{tap.abv}}'/></td></tr>
			<tr><td>Tapped:</td><td><input type='date' name='date_tapped' value='{{tap.date_tapped}}'/></td></tr>
			<tr><td><input type='submit' value='Save'></td><td><button type='button' onclick="hideEdit('{{barname}}', '{{loop.index}}')">Cancel</button></td></tr>
			</table>
			</form>
		</div>
		{% endfor %}
		{% for tap in taps %}
		<div class='taprow' id='{{barname}}{{loop.index}}' onclick="showEdit('{{barname}}', '{{loop.index}}')">
			<div class='meta'>
				{% if tap.abv %} 
					{{ tap.abv }} abv
					{% if tap.date_tapped %}<br/>{% endif %}
				{% endif %}
				{% if tap.date_tapped %}
					{{ tap.nice_tap_date() }}
				{% endif %}
			</div>
			<div class='tapwrap'>
				<div class='tap pastel{{tap.get_color_index(4)}} chalk{{tap.get_index(9)}}'>
				{{ tap.name }}
				{% if tap.style %}
				<span class='beerstyle'>({{ tap.style }})</span>
				{% endif %}
				</div>
				<div class='brewery'>{{tap.brewery}}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}

</body>
</html>
