<html>
<head>
	<title>FlightStats tap list! </title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/fstaps.css">
</head>
<body>

<div class='boardouter'>
	<div class='board'>
		<h1 class='floor'>Upstairs:</h1>
		{% for tap in upstairs %}
		<div class='tap pastel{{tap.get_color_index(3)}} chalk{{tap.get_index(6)}}'>{{ tap.name }}</div>
		<div class='brewery'>{{tap.brewery}}</div>
		{% endfor %}
	</div>
</div>

<div class='boardouter'>
	<div class='board'>
	<h1 class='floor'>Downstairs:</h1>
		{% for tap in downstairs %}
		<div class='tap pastel{{tap.get_color_index(3)}} chalk{{tap.get_index(6)}}'>{{ tap.name }}</div>
		<div class='brewery'>{{tap.brewery}}</div>
		{% endfor %}
	</div>
</div>

</body>
</html>
