<!DOCTYPE html>
<html>
<head>
	<title>FlightStats tap list! </title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/fstaps.css">
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/fstaps.js"></script>
</head>
<body>

{% for barname,taps in bars.iteritems() %}
<div class='boardouter'>
	<div class='board {{barname}}'>
	<h1 class='floor'>{{barname|title}}:</h1>
		<table>
		{% for tap in taps %}
		<tr>
		<td class='tapwrap'>
			<div class='tap pastel{{tap.get_color_index(4)}} chalk{{tap.get_index(9)}}'>
			{{ tap.name }}
			{% if tap.style %}
			<span class='beerstyle'>({{ tap.style }})</span>
			{% endif %}
			</div>
			<div class='brewery'>{{tap.brewery}}</div>
		</td>
		<td>
			{% if tap.abv or tap.date_tapped %}
			<div class='meta'>
				{% if tap.abv %} 
					{{ tap.abv }} abv
					{% if tap.date_tapped %}<br/>{% endif %}
				{% endif %}

				{% if tap.date_tapped %}
					{{ tap.nice_tap_date() }}
				{% endif %}
			</div>
			{% endif %}
		</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endfor %}

</body>
</html>
